<div class="container-fluid max-width-900">

  <!--  Listado de ovas -->
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Programa</th>
      <th scope="col">Ova</th>
      <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>

    <!--  Este codigo imprime ova por ova del listado de ovas  -->
    <ng-container *ngFor="let ova of ovas">
      <tr>
        <td (click)="onSelected(ova)" class="clickable">{{ova.id}}</td>
        <td (click)="onSelected(ova)" class="clickable">{{ova.programa}}</td>
        <td (click)="onSelected(ova)" class="clickable">{{ova.ova}}</td>
        <td (click)="borrarOva(ova)" class="clickable"><img src="../../../assets/delete.png" alt="borrar ova"/></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <button type="submit" class="btn btn-primary btn-block" (click)="crearOva()">Crear ova</button>
    </div>
  </div>
</div>

