<head>
  <!-- Importa la fuente Nunito Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
  <div>
    <a href="#" class="logo">
      <img src=" ../../assets/icons/logo-uceva.png"> <!-- Ruta para el logo -->
    </a>
  </div>
  <nav class="navbar">
    <ul>
      <li><a href="#Facultades" class="active">Facultades</a></li>
      <li><a href="#Inscripciones">Inscripciones</a></li>
      <li><a href="#Noticias">Noticias</a></li>
    </ul>
  </nav>
  <div class="login-section">
    <a href="#Login" class="login-link">Login</a>
    <a href="#" class="gorro">
      <img src="../../assets/icons/gorro-graduacion.png"/>
    </a>
  </div>
</header>
